*{
    margin: 0%;
    padding: 0%;
}
.head{

    min-height: 100vh;
    width: 100%;
    background-image: url(images/b2.jpg);background-repeat: no-repeat;

    background-position: center;
    background-size:cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.FUF{
font-size: 35px;
color: red;
}
.nav-links{
flex: 1;
text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    transition: 0.5s ease-in-out;
}
.nav-links ul li :hover{
    color: yellow;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial;
}
.nav-links ul li ::after{
    content: "";
    width: 0%;
    height: 2px;
    background: blue;
    display: block;
    margin: auto;
    transition: 0.5s ease-in-out;
}
.nav-links ul li :hover::after{
    width: 100%;
}

.textbox{
    width: 90%;
    color: white;
    position: absolute;
    top: 40%;left: 10%;
    text-align: center;
}
.textbox h1{
font-size: 62;

}
.textbox p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.like{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.like:hover{
border:1px solid white;
background:orange;
transition:1s ease-in-out;
}

@media(max-width:700px){
    .textbox h1{
        font-size: 20px;
        
        }
        .nav-links ul li{
            display: block;

        }
        .nav-links{
            position: absolute;
            background: red;
            height: 100vh;
            width: 200px;
            top: 0%;
            right: 0%;
            text-align: left;
            z-index: 2;

        }
}

/*----------OURSEVICES---------*/
.SERV{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: blue;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}
.ROW{
    margin-top: 5%;
    display: flex;
justify-content:space-between;

}
.SERV-COL{
    flex-basis: 31%;
    background: rgb(236, 209, 157);
    border-radius: 10px;
margin-bottom: 5px;
padding: 29px;
box-sizing: border-box;
transition: 00.5s;

}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.SERV-COL:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

}
/*---------PRODUCTS----------*/
.PRODUCT{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.PRO-COL{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
}
.PRO-COL img{
    width: 100%;
    display: block;
}
.LAYER{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
transition: 0.5s ease-in-out;
}
.LAYER:hover{
    background:rgba(226,0,0,0.7); 

}
.LAYER h3{
    width: 100%;
    font-weight: 500;
    color: rgb(5, 1, 1);
    font-size: 26px;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.LAYER:hover h3{
    bottom: 49%;
    opacity: 1;
}


























